.header__nav-container {
    flex-grow: 1;

    .menuButton {
        margin-right: 2rem;
        @media only screen and (min-width: 768px) {
            display: none;
        }
    }

    .title {
        flex-grow: 1;
    }

    .list {
        width: 250px;
    }

    .link {
        text-decoration: 'none';
        color: 'ingerit';
    }

}