.redirect-button,
.delete-button,
.unpack-button {
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;
    @media only screen and (min-width: 1024px) {
        font-size: 15px;
    }
}

.redirect-button {
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    color: $white;
    background-color: $secondary-color;
    transition: all 0.4s ease;

    &:hover {
        background-color: darken($secondary-color, 15%);
    }
}

.delete-button {
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    color: $white;
    background-color: $errors;
    transition: all 0.4s ease;

    &:hover {
        background-color: lighten($errors, 15%);
    }
}