.header {
    background: transparent;
    transition: all 0.3s ease;
    z-index: 9998;
}

.header.header--scroll {
    background: $primary-color;
}

.header__logo img {
    height: 3rem;
    transition: all 0.3s ease;
    @media only screen and (min-width: 1450px) {
        height: 5rem;
    }
}

.header--scroll .header__logo img {
    @media only screen and (min-width: 1450px) {
        height: 4rem;
    }
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: $max-container-width;
}

.header__mobile-icon {
    width: 30px;
    height: 30px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    cursor: pointer;
    z-index: 10000;
    @media only screen and (min-width: 1450px) {
        display: none;
    }
}

.header__mobile-lines {
    background: $textColor;
    height: 1.25px;
    width: 27px;
    position: relative;
    transition: all 0.5s ease-in-out;
}

.header__mobile-lines::before, .header__mobile-lines::after {
    height: 1.25px;
    background: $textColor;
    z-index: 10000;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
}

.header__mobile-lines::before {
    width: 27px;
    content: '';
    position: absolute;
    transform: translateY(-7px);
}

.header__mobile-lines::after {
    width: 20px;
    content: '';
    position: absolute;
    transform: translateY(7px);
}

.header__mobile-icon.open .header__mobile-lines {
    background: transparent;

    &::before {
        transform: rotate(45deg);
    }
    
    &::after {
        width: 27px;
        transform: rotate(-45deg);
    }
}

.header .header__nav {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(100%);
    transition: all 0.2s ease;
    height: 100%;
    width: 100%;
    background: $dark;
    ul {
        flex-direction: column;
        width: 100%;
        justify-content: center;
        padding: 0 1.5rem;
        transition: all 0.2s ease;
    }

    li {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    @media only screen and (min-width: 1450px) {
        position: initial;
        transform: translateX(0%);
        background: transparent;
        width: auto;
        z-index: initial;
        align-items: center;

        ul {
            flex-direction: row;
            align-items: center;
            padding: 0;
        }

        li {
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}

.header .header__nav.open {
    transition: all 0.4s ease;
    transform: translateX(0%);
    z-index: 9999;
}

.header__nav .header__nav-link {
    text-transform: uppercase;
    position: relative;
    transition: all 0.5s ease;
    font-size: 23px;
    @media only screen and (min-width: 1450px) {
        padding-bottom: 8px;
        font-size: 18px;
        &::before {
            content: "";
        }
    }
    @media only screen and (min-width: 1450px) and (max-width: 1090px) {
        font-size: 16px;
    }
}

.header__nav .header__nav-link::before {
    position: absolute;
    bottom: 0px;
    width: 0;
    height: 2px;
    background: $secondary-color;
    transition: all 0.5s ease;
}

.header__nav .header__nav-link--account {
    height: initial;
    margin: 0 2rem;
    display: block;
    margin-top: 8px;
    margin-bottom: 12px;
    @media only screen and (min-width: 1450px) {
        margin-top: unset;
        margin-bottom: unset;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        padding-bottom: 0px;
    }

    & svg {
        width: 31px !important;
        height: 31px !important;
        vertical-align: middle;
    }

    &::before {
        content: unset;
    }
}

.header__nav .header__nav-link.header__nav-link--active::before, .header__nav .header__nav-link:hover::before {
    width: 33px;
}

.header__nav .header__nav-link--active {
    @media (max-width: 1450px) {
        padding-bottom: 7px;
        font-size: 30px;

        &::before {
            content: "";
            position: absolute;
            bottom: -4px;
            left: 0; right: 0;
            margin: auto;
            width: 2.5rem !important;
            height: 3px !important;

            background-color: $secondary-color;
        }
    }
}