.map-tour {
  &__panel {
    position: absolute;
    z-index: 9999;
    top: 6rem;
    right: 1rem;
    padding: 1rem 2rem;
    background: rgba(51, 60, 68, 0.768);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.511);
    backdrop-filter: blur(6.1px);
    -webkit-backdrop-filter: blur(6.1px);
    border: 1px solid rgba(51, 60, 68, 0.4);
    border-radius: 5px;
  }

  &__controls {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }

  &__time {
    text-align: center;
    color: $secondary-color;
  }

  &__icon {
    cursor: pointer;

    &--active {
      fill: $white;
    }
  }
}
