.popup-window {
    position: fixed;
    z-index: 9999;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00000078;
    ::-webkit-scrollbar {
        width: 10px;
    }
    
    ::-webkit-scrollbar-track {
      background: #f1f1f1;
    }
    
    ::-webkit-scrollbar-thumb {
      background: $secondary-color;
      border-radius: $border-radius;
    }
    
    ::-webkit-scrollbar-thumb:hover {
      background: lighten($secondary-color, 5%);
    }

    &__text {
        width: 90%;
        height: auto;
        max-height: 90%;
        border-radius: 5px;
        position: relative;
        overflow-y: auto;
        color: $textColor;
        border-radius: 10px;
        background: rgba(51, 60, 68, 0.5411764705882353);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.511);
        backdrop-filter: blur(6.1px);
        -webkit-backdrop-filter: blur(6.1px);
        border: 1px solid rgba(51, 60, 68, 0.4);
    
        @media only screen and (min-width: 768px) {
            max-width: 800px;
        }
    }

    &__title {
        position: relative;
        line-height: 2;
        &::before {
            content: "";
            position: absolute;
            width: 40%;
            max-width: 60px;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            height: 3px;
            border-radius: 5px;
            background: $secondary-color;
        }
    }

    &__close-button {
        //stroke-width: 4;
        path {
            stroke: $secondary-color;
        }
    }
    .delete-button {
        font-weight: 600;
        font-size: 16px;
        padding: 8px 26px;
        @media only screen and (min-width: 768px) {
          font-size: 18px;
        }
    }
}