.model-wrapper {
  position: relative;
  overflow: hidden;
}

.axis-control {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.north-arrow-control {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
}
