.toolbar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 9998;
  display: flex;

  &__content {
    display: none;
    .form p {
      font-size: 16px;
    }
    .form input {
      transition: background-color 5000s ease-in-out 0s;
      outline: none !important;
      -webkit-box-shadow: 0 0 0 30px rgba(51, 60, 68, 0.646) inset !important;
    }
    .form input[type='number'],
    .form input[type='text'] {
      height: 36px;
      font-size: 15px;
      font-weight: 300;
    }
  }

  &__container {
    overflow-x: hidden;
    width: 0px;
    opacity: 0;
    transition: all 0.4s ease;
    padding: 0;
    background: rgba(51, 60, 68, 0.9);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.511);
    backdrop-filter: blur(6.1px);
    -webkit-backdrop-filter: blur(6.1px);
    border: 1px solid rgba(51, 60, 68, 0.4);
    //overflow-y: auto;
    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-track {
      background: $primary-color--lighter;
    }

    &::-webkit-scrollbar-thumb {
      background: $secondary-color;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: lighten($secondary-color, 5%);
    }

    &--opened {
      width: 80vw;
      opacity: 1;
      @media only screen and (min-width: 768px) {
        width: 300px;
      }

      padding: 2rem 1rem;
      .toolbar__content {
        display: block;
      }
    }
  }

  &__arrow-panel {
    width: 20px;
    //height: 100%;
    background: rgba(51, 60, 68, 0.8);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.511);
    backdrop-filter: blur(6.1px);
    -webkit-backdrop-filter: blur(6.1px);
    border: 1px solid rgba(51, 60, 68, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__arrow-container {
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    transform: translate(0%, -50%);
    background: $secondary-color;
    cursor: pointer;
  }

  &__arrow {
    width: 26px;
    height: 26px;
    transition: all 0.4s ease;
    color: $primary-color;

    &--opened {
      transform: rotateY(-180deg);
    }
  }

  .accordion-item {
    background-color: #333c44e6;
    border-radius: 4px;
    box-shadow: 0px 0px 1px $secondary-color;
  }
}

.pins-container {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  padding: 0.25rem;
  background: rgba(51, 60, 68, 0.88);
  border-radius: $border-radius;
  box-shadow: 0px 0px 1px $secondary-color;
  margin-left: 1px;
  margin-right: 1px;
  & > div {
    width: 50px;
    height: 50px;
    padding: 0.25rem;
    border-radius: 4px;
    //background: lighten($primary-color--lighter, 10%);
    background: rgba(42, 50, 57, 0.99);
    border: 1px solid lighten($primary-color--lighter, 15%);
    box-shadow: 0px 0px 3px lighten($primary-color--lighter, 15%);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease;
    &:hover {
      border: 1px solid lighten($primary-color--lighter, 25%);
      box-shadow: 0px 0px 3px lighten($primary-color--lighter, 25%);
    }
    &.active {
      background: darken($secondary-color, 15%);
    }
  }

  .subsection-title {
    font-size: 14px;
    font-weight: 400;
    @media only screen and (min-width: 1024px) {
      font-size: 15px;
    }
  }
}
