$primary-color: #11161c;
$primary-color--lighter: #141a20;
$secondary-color: #2EEBC9;
$textColor: #fff;
$white: #fff;
$paper: #f6f6f6;

$errors: #d81212;
$success: rgb(25, 182, 25);

$max-container-width: 1650px;
$border-radius: 10px;