$primary-color: #333c44;
$primary-color--darker: #11161c;
$secondary-color: #2EEBC9;
$textColor: #fff;
$white: #fff;
$paper: #f6f6f6;

$errors: #d81212;
$success: rgb(25, 182, 25);

$max-container-width: 1650px;